# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/


Chimera/3rd_Party/Andor/Lib/*
!Chimera/3rd_Party/Andor/Lib/.gitkeep
Chimera/3rd_Party/DM/Lib/*
!Chimera/3rd_Party/DM/Lib/.gitkeep
Chimera/*.dll

*.obj
*.log
*.pyc
tmpDataSave
FromAlec
Master-Configuration.txt
enc_temp_folder


# Visual Studio 2015/2017 cache/options directory
.vs/
