Version: 1.0
SCRIPTS
/*Master Script Address:*/ C:/Chimera/Chimera-Cryo/Configurations/MaranaTest/marana_test_scipt.mScript
END_SCRIPTS
GMOOG
/*Experiment Active:*/ 0
/*Scripted Arb Address:*/C:/Chimera/Chimera-Cryo/Configurations/MaranaTest/marana_test_gmoog.gScript
END_GMOOG
MICROWAVE_SIGLENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_MICROWAVE_SIGLENT_AWG
MICROWAVE_AGILENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				twz_mod_amp
/*Sine Freq:*/					twz_mod_freq
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		C:/Chimera/Chimera-Cryo/Configurations/CryoTweezerLoading/tweezer_depth_modulation.aScript
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_MICROWAVE_AGILENT_AWG
CAMERA_SETTINGS
/*Control Andor:*/			1
/*Trigger Mode:*/			External Exposure
/*Acquisition Mode:*/		Single-Scan
/*Gain Mode:*/				High dynamic range (16-bit)
/*Frame Rate:*/				4
/*Camera Temperature:*/		-30
/*Number of Exposures:*/	4
/*Exposure Times:*/			0.009999999776483 0.009999999776483 0.009999999776483 0.1000000014901 
/*Andor Pics Per Rep:*/		4
END_CAMERA_SETTINGS
PICTURE_SETTINGS
/*Transformation Mode:*/ Fast
/*Color Options:*/ 0 0 0 0 
/*Threshold Settings:*/ 100 100 100 100 
/*Software Accumulation (accum all / Number)*/ 0 10 0 10 0 10 0 10 
/*Pic Scale Factor:*/	50
END_PICTURE_SETTINGS

CAMERA_IMAGE_DIMENSIONS
/*Left:*/ 1
/*Right:*/ 2048
/*H-Bin:*/ 8
/*Bottom:*/ 1
/*Top:*/ 2048
/*V-Bin:*/ 8
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
/*Slider Locs (Min/Max):*/
0 3744
0 3557
0 11078
0 15585
/*Auto-Scale Pics?*/ 0
/*Special >Max Color?*/ 0
/*Special <Min Color?*/ 0
/*Always Show Grid?*/ 0
END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
/*Auto-Threshold Analysis?*/	0
/*Number of Analysis Grids: */	1
/*Grid #1:*/ 
/*Top-Left Corner Row:*/		0
/*Top-Left Corner Column:*/		0
/*Grid Width:*/					0
/*Grid Height:*/				0
/*Pixel Spacing:*/				0
BEGIN_ACTIVE_PLOTS
/*Number of Active Plots:*/ 0
END_ACTIVE_PLOTS
/*Display Grid?*/ 0
/*Auto Bump Analysis?*/ 0
/*Bump Param?*/ "!#EMPTY_STRING#!"
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
/*# Scan Dimensions:*/	81
/*Dim #1:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		16
/*Dim #2:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		5
/*Dim #3:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		10
/*Dim #4:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #5:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #6:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #7:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #8:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #9:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #10:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #11:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #12:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #13:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #14:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #15:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #16:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #17:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #18:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #19:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #20:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #21:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #22:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #23:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #24:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #25:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #26:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #27:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #28:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #29:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #30:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #31:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #32:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #33:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #34:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #35:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #36:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #37:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #38:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #39:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #40:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #41:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #42:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #43:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #44:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #45:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #46:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #47:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #48:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #49:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #50:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #51:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #52:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #53:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #54:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #55:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #56:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #57:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #58:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #59:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #60:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #61:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #62:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #63:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #64:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #65:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #66:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #67:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #68:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #69:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #70:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #71:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #72:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #73:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #74:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #75:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #76:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #77:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #78:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #79:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #80:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #81:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*# Variables: */ 		44
/*Variable #0*/
/*Name:*/			mot_gradient
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-7
/*Scope:*/			global

/*Variable #1*/
/*Name:*/			bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.5
/*Final Value: */	0.5
/*Constant Value:*/	0.2
/*Scope:*/			global

/*Variable #2*/
/*Name:*/			bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.35
/*Final Value: */	0.65
/*Constant Value:*/	-0.05
/*Scope:*/			global

/*Variable #3*/
/*Name:*/			bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.2
/*Final Value: */	0.2
/*Constant Value:*/	0.125
/*Scope:*/			global

/*Variable #4*/
/*Name:*/			t_loading
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	50
/*Final Value: */	450
/*Constant Value:*/	22250
/*Scope:*/			global

/*Variable #5*/
/*Name:*/			pgc_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1256
/*Final Value: */	1456
/*Constant Value:*/	1406
/*Scope:*/			global

/*Variable #6*/
/*Name:*/			pgc_olrepump
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5082
/*Final Value: */	5182
/*Constant Value:*/	5272
/*Scope:*/			global

/*Variable #7*/
/*Name:*/			pgc_cool_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	2
/*Final Value: */	10
/*Constant Value:*/	10
/*Scope:*/			global

/*Variable #8*/
/*Name:*/			pgc_rep_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	10
/*Constant Value:*/	6
/*Scope:*/			global

/*Variable #9*/
/*Name:*/			pgc_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	3
/*Constant Value:*/	1.65
/*Scope:*/			global

/*Variable #10*/
/*Name:*/			pgc_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-4
/*Final Value: */	0
/*Constant Value:*/	-1.4
/*Scope:*/			global

/*Variable #11*/
/*Name:*/			pgc_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	-0.15
/*Scope:*/			global

/*Variable #12*/
/*Name:*/			t_pgc_cool_time
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5
/*Final Value: */	105
/*Constant Value:*/	25
/*Scope:*/			global

/*Variable #13*/
/*Name:*/			t_tof
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	10
/*Final Value: */	110
/*Constant Value:*/	10
/*Scope:*/			global

/*Variable #14*/
/*Name:*/			resonance_scan
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1175
/*Final Value: */	1250
/*Constant Value:*/	0
/*Scope:*/			global

/*Variable #15*/
/*Name:*/			shutter_time_scan
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	10
/*Constant Value:*/	0
/*Scope:*/			global

/*Variable #16*/
/*Name:*/			shift_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	0.2
/*Scope:*/			global

/*Variable #17*/
/*Name:*/			shift_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	0
/*Scope:*/			global

/*Variable #18*/
/*Name:*/			shift_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.5
/*Final Value: */	0.5
/*Constant Value:*/	-0.1
/*Scope:*/			global

/*Variable #19*/
/*Name:*/			shift_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1216
/*Final Value: */	1236
/*Constant Value:*/	1230
/*Scope:*/			global

/*Variable #20*/
/*Name:*/			twz_intensity
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	2
/*Constant Value:*/	2.6
/*Scope:*/			global

/*Variable #21*/
/*Name:*/			pgc_twz_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1206
/*Final Value: */	1406
/*Constant Value:*/	1375
/*Scope:*/			global

/*Variable #22*/
/*Name:*/			pgc_twz_olrepump
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5182
/*Final Value: */	5382
/*Constant Value:*/	5272
/*Scope:*/			global

/*Variable #23*/
/*Name:*/			pgc_twz_cool_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	10
/*Constant Value:*/	6
/*Scope:*/			global

/*Variable #24*/
/*Name:*/			pgc_twz_rep_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	8
/*Constant Value:*/	6
/*Scope:*/			global

/*Variable #25*/
/*Name:*/			pgc_twz_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	3
/*Constant Value:*/	1.6
/*Scope:*/			global

/*Variable #26*/
/*Name:*/			pgc_twz_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-4
/*Final Value: */	1
/*Constant Value:*/	-1.5
/*Scope:*/			global

/*Variable #27*/
/*Name:*/			pgc_twz_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1.5
/*Final Value: */	1.5
/*Constant Value:*/	-0.2
/*Scope:*/			global

/*Variable #28*/
/*Name:*/			t_pgc_twz
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	81
/*Constant Value:*/	40
/*Scope:*/			global

/*Variable #29*/
/*Name:*/			t_lifetime
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1500
/*Final Value: */	16500
/*Constant Value:*/	1500
/*Scope:*/			global

/*Variable #30*/
/*Name:*/			kick_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1131
/*Final Value: */	1261
/*Constant Value:*/	1226
/*Scope:*/			global

/*Variable #31*/
/*Name:*/			kick_olrepump
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5357
/*Final Value: */	5227
/*Constant Value:*/	5262
/*Scope:*/			global

/*Variable #32*/
/*Name:*/			twz_mod_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.4
/*Scope:*/			global

/*Variable #33*/
/*Name:*/			twz_mod_freq
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	200
/*Final Value: */	400
/*Constant Value:*/	100
/*Scope:*/			global

/*Variable #34*/
/*Name:*/			twz_int_low
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.03
/*Final Value: */	0.4
/*Constant Value:*/	0.26
/*Scope:*/			global

/*Variable #35*/
/*Name:*/			twz_int_lifetime
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.3
/*Final Value: */	2.3
/*Constant Value:*/	2.35
/*Scope:*/			global

/*Variable #36*/
/*Name:*/			probe_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1216
/*Final Value: */	1286
/*Constant Value:*/	1251
/*Scope:*/			global

/*Variable #37*/
/*Name:*/			probe_olrepump
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5262
/*Final Value: */	5362
/*Constant Value:*/	5297
/*Scope:*/			global

/*Variable #38*/
/*Name:*/			probe_cool_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	8
/*Constant Value:*/	4
/*Scope:*/			global

/*Variable #39*/
/*Name:*/			probe_repump_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	2
/*Final Value: */	10
/*Constant Value:*/	10
/*Scope:*/			global

/*Variable #40*/
/*Name:*/			pgc_img_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	3
/*Constant Value:*/	1.8
/*Scope:*/			global

/*Variable #41*/
/*Name:*/			pgc_img_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-3
/*Final Value: */	0
/*Constant Value:*/	-3
/*Scope:*/			global

/*Variable #42*/
/*Name:*/			pgc_img_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	-0.15
/*Scope:*/			global

/*Variable #43*/
/*Name:*/			t_twz_imaging
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5
/*Final Value: */	20
/*Constant Value:*/	15
/*Scope:*/			global

END_CONFIG_PARAMETERS
TTL_SYSTEM
/*TTL Name:*/ do1_0 do1_1 do1_2 do1_3 dipolepushshutter pixis_trg xyzmotshutter prbshutter do2_0 do2_1 do2_2 do2_3 do2_4 do2_5 do2_6 do2_7 tweezerhold dipolepushreptrg do3_2 do3_3 mako1 mako2 cooling_ol repump_ol do4_0 do4_1 do4_2 do4_3 do4_4 do4_5 do4_6 do4_7 do5_0 do5_1 do5_2 do5_3 do5_4 do5_5 do5_6 do5_7 tareptrg prbreptrg do6_2 dipolepushtrg prbtrg scimottrg srcmottrg do6_7 do7_0 do7_1 do7_2 do7_3 do7_4 do7_5 do7_6 do7_7 gmloadtrg do8_1 do8_2 do8_3 do8_4 do8_5 do8_6 do8_7 
/*TTL State:*/ 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTL_SYSTEM
DAC_SYSTEM
/*DAC Name:*/ tarepamp prbrepamp dac0_2 dipolepushamp prbamp scimotamp dac0_6 srcmotamp tweezerintensity dipolepushrepamp dac0_10 dac0_11 dac0_12 dac0_13 motcoil1 motcoil2 motcoil biascoilx biascoily biascoilz dac1_4 dac1_5 dac1_6 dac1_7 dac1_8 dac1_9 dac1_10 dac1_11 dac1_12 dac1_13 dac1_14 dac1_15 
/*DAC Value:*/ 5 10 5 4.4 2 9.8 10 10 2.6 2 0 0 0 0 0 0 -7 0.2 -0.05 0.125 0 0 -9 0 0 0 0 0 0 0 0 0 
/*DAC Value Max:*/ 10 10 10 6 10 10 10 10 3 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 
/*DAC Value Min:*/ -9.9 -9.9 -9.9 0 -9.9 -9.9 -9.9 -9.9 0 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 
/*DAC Description:*/ dac0_1 dac0_2 dac0_3 dac0_4 dac0_5 dac0_6 dac0_7 dac0_8 dac0_9 dac0_10 dac0_11 dac0_12 dac0_13 dac0_14 dac0_15 dac1_0 dac1_1 -4.5_to_+4.5 -5_to_+4 -4_to+4 dac1_5 dac1_6 dac1_7 dac1_8 dac1_9 dac1_10 dac1_11 dac1_12 dac1_13 dac1_14 dac1_15 0 
END_DAC_SYSTEM
DDS_SYSTEM
/*DDS Name:*/ dds0_0 scisrcmot prb scimot_tmp dds1_0 dds1_1 dds1_2 dds1_3 tarep prbrep prbrep_tmp dds2_3 
/*DDS Amplitude:*/ 100 100 100 100 100 100 100 100 100 100 100 100 
/*DDS Amplitude Max:*/ 100 100 100 100 100 100 100 100 100 100 100 100 
/*DDS Amplitude Min:*/ 0 0 0 0 0 0 0 0 0 0 0 0 
/*DDS Frequency:*/ 80 80 100 80 80 80 80 80 80 80 80 80 
/*DDS Frequency Max:*/ 500 500 500 500 500 500 500 500 500 500 500 500 
/*DDS Frequency Min:*/ 0 0 0 0 0 0 0 0 0 0 0 0 
/*DDS Description:*/ None None None None None None None None also_for_tweezer now also split 
END_DDS_SYSTEM
OFFSETLOCK_SYSTEM
/*OffsetLock Name:*/ ol_cooling ol_repump 
/*OffsetLock Value:*/ 1214 5272 
/*OffsetLock Description:*/ None resonace 
END_OFFSETLOCK_SYSTEM
AI-SYSTEM
/*Query Between Variations?*/ 0
/*Query Continuously?*/ 0
/*Average Number:*/ 100
/*Contiuous Mode Interval:*/ 1000
/*Channel Ranges*/ Off Off Off Off Off Off Off Off Off Off Off Off Off Off Off Off 
END_AI-SYSTEM

CALIBRATION_MANAGER
/*Auto Cal Checked: */ 0
/*Calibration Number: */ 0
END_CALIBRATION_MANAGER
MAKO1_CAMERA_SETTING
/*Mako System Active:*/ 0
/*Left:*/ 38
/*Top:*/ 93
/*Right:*/ 109
/*Bottom:*/ 22
/*H-Bin:*/ 8
/*V-Bin:*/ 8
/*Exposure Time:*/ 2000
/*Frame Rate:*/ 40.00320025602
/*Raw Gain:*/ 30
/*Pics Per Rep:*/ 0
/*Trigger Mode:*/ FixedRate
END_MAKO1_CAMERA_SETTING
MAKO2_CAMERA_SETTING
/*Mako System Active:*/ 0
/*Left:*/ 732
/*Top:*/ 927
/*Right:*/ 1247
/*Bottom:*/ 544
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ 9994
/*Frame Rate:*/ 16.59806134643
/*Raw Gain:*/ 0
/*Pics Per Rep:*/ 99
/*Trigger Mode:*/ Line1
END_MAKO2_CAMERA_SETTING
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
/*Randomize Variations?*/ 0
/*Repetition First Over Variation?*/ 0
/*Atom Threshold for Load Skip*/ 4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
/*Sleep Time:*/						0
END_DEBUGGING_OPTIONS
REPETITIONS
/*Reps:*/20
END_REPETITIONS
