QLabel {
    /* background: @StaticBackground; */
    color: @NeutralTextColor;
    qproperty-alignment: AlignCenter;
    font: @DefaultFontSize;
    /* font: 'Times' ; */
    /* font: bold; */
}

QTextEdit [readOnly="true"], QTextEdit:disabled, QPlainTextEdit, QPlainTextEdit[readOnly="true"], QPlainTextEdit:disabled {
    /* background: var(--StaticBackground); */
    /* color: var(--MainTextColor); */
    font: @DefaultFontSize;
}

QTextEdit {
    /* background: @InteractableBackground; */
    color: @MainTextColor;
    font: @DefaultFontSize;
    font: normal
}

QLineEdit {
    /* background: @InteractableBackground; */
    font: normal @DefaultFontSize;
    color: @MainTextColor;
    border: 1px solid gray;
}
QLineEdit:disabled, QCheckBox:disabled, QComboBox:disabled, QRadioButton:disabled {
    /* background: var(--StaticBackground); */
    /* color: var(--NeutralTextColor); */
    font: normal @DefaultFontSize;
}

QChartView, QComboBox, QRadioButton, QCheckBox, QPushButton, QListView {
    /* background: @InteractableBackground; */
    color: @MainTextColor;
    font: @DefaultFontSize;
}

QMenuBar {
    background-color: @InteractableBackground;
    /* color: rgb(255, 255, 255); */
    font: @DefaultFontSize;
}
QMenu, QMenu::item {
    /* background-color: var(--InteractableBackground); */
    /* color: var(--MainTextColor); */
    /* font: 9pt; */
}