Version: 1.0
SCRIPTS
/*Master Script Address:*/ C:/Chimera/Chimera-Cryo/Configurations/CryoTweezerLoading/rydberg_420_1013_excitation.mScript
END_SCRIPTS

GMOOG
/*Experiment Active:*/ 1
/*Scripted Arb Address:*/ C:/Chimera/Chimera-Cryo/Configurations/CryoTweezerLoading/1x13tweezerloading.gScript
END_GMOOG

SIGLENT_AWG
/*Synced Option:*/ 0
/*Channel Mode:*/ no_control
/*Polarity Invert:*/ 0
/*DC Level:*/ "!#EMPTY_STRING#!"
/*DC Calibrated:*/ 0
/*Sine Amplitude:*/ 0.85
/*Sine Freq:*/ resonance_scan*1000
/*Sine Phase:*/ phase_scan
/*Sine Burst:*/ 0
/*Sine Calibrated:*/ 0
/*Square Amplitude:*/ 5
/*Square Freq:*/ 2000
/*Square Offset:*/ 2.5
/*Square DutyCycle:*/ 50
/*Square Phase:*/ 0
/*Square Burst:*/ 1
/*Square Calibrated:*/ 0
/*Preloaded Arb Address:*/ "!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/ 0
/*Preloaded Arb Burst:*/ 0
/*Scripted Arb Address:*/ "!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/ 0
/*Sine Amplitude*/ 0.95
END_SIGLENT_AWG

AGILENT_AWG
/*Synced Option:*/ 0
/*Channel Mode:*/ output_off
/*Polarity Invert:*/ 0
/*DC Level:*/ twz_intensity*0.5
/*DC Calibrated:*/ 0
/*Sine Amplitude:*/ "!#EMPTY_STRING#!"
/*Sine Freq:*/ "!#EMPTY_STRING#!"
/*Sine Phase:*/ "!#EMPTY_STRING#!"
/*Sine Burst:*/ 0
/*Sine Calibrated:*/ 0
/*Square Amplitude:*/ 5
/*Square Freq:*/ 1/(pgc_flash_ontime+pgc_flash_offtime)
/*Square Offset:*/ 2.5
/*Square DutyCycle:*/ 100*pgc_flash_ontime/(pgc_flash_ontime+pgc_flash_offtime)
/*Square Phase:*/ 0
/*Square Burst:*/ 1
/*Square Calibrated:*/ 0
/*Preloaded Arb Address:*/ "!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/ 0
/*Preloaded Arb Burst:*/ 0
/*Scripted Arb Address:*/ C:/Chimera/Chimera-Cryo/Configurations/CryoTweezerLoading/IQmixer_phaseJump_Q.aScript
/*Scripted Arb Calibrated:*/ 0
END_AGILENT_AWG

CAMERA_SETTINGS
/*Control Andor:*/ 1
/*Trigger Mode:*/ External Exposure
/*Acquisition Mode:*/ Single-Scan
/*Gain Mode:*/ High dynamic range (16-bit)
/*Frame Rate:*/ 1
/*Camera Temperature:*/ -5
/*Number of Exposures:*/ 2
/*Exposure Times:*/ 0.02500000037253 0.009999999776483 
/*Andor Continuous Mode:*/ 0
/*Andor Pics Per Rep:*/ 2
END_CAMERA_SETTINGS

PICTURE_SETTINGS
/*Color Options:*/ 0 0 0 0 
/*Threshold Settings:*/ 60 60 100 100 
/*Software Accumulation (accum all / Number)*/ 0 1 0 1 0 1 0 1
END_PICTURE_SETTINGS

CAMERA_IMAGE_DIMENSIONS
/*Left:*/ 851
/*Right:*/ 1300
/*H-Bin:*/ 2
/*Bottom:*/ 911
/*Top:*/ 970
/*V-Bin:*/ 2
END_CAMERA_IMAGE_DIMENSIONS

ANDOR_PICTURE_MANAGER
/*Slider Locs (Min/Max):*/ 60 80
/*Auto-Scale Pics?*/ 0
/*Special >Max Color?*/ 0
/*Special <Min Color?*/ 0
/*Always Show Grid?*/ 0
END_ANDOR_PICTURE_MANAGER

DATA_ANALYSIS
/*Auto-Threshold Analysis?*/ 0
/*Number of Analysis Grids: */ 1
/*Grid #1:*/ /*Grid Origin X(Bottom-Left Corner Column):*/		0
/*Grid Origin Y(Bottom-Left Corner Row):*/ 0
/*Grid Width:*/ 0
/*Grid Height:*/ 0
/*Pixel Spacing X:*/ 0
/*Pixel Spacing Y:*/ 0
/*Include Pixels X:*/ 0
/*Include Pixels Y:*/ 0
/*Use External File:*/ 1
/*Grid File Name:*/ atomgrid_1x13_3points_2024-5-15
/*Number of Active Plots:*/ 3
/*Active Plot #1*/ /*Plot Name:*/ Histogram-2Pic
/*Which Grid:*/ 0
/*Active Plot #2*/ /*Plot Name:*/ Loadingrate-2Pic
/*Active Plot #3*/ /*Plot Name:*/ Survival-2Pic
/*Display Grid?*/ 0
/*Auto Bump Analysis?*/ 0
/*Bump Param?*/ "!#EMPTY_STRING#!"
END_DATA_ANALYSIS

TTL_SYSTEM
/*TTL Name:*/ do1_0 do1_1 opshutter do1_3 dipolepushshutter pixis_trg xyzmotshutter prbshutter prbcoolshutter tarepshutter xymotshutter d1lgmshutter d1lgmprbshutter camerashutter srcmotvalve srcmotvalveenable tweezerhold dipolepushreptrg d1lgmtrg do3_3 mako1 mako2 cooling_ol repump_ol d1lgmeomtrg prbrelayswitch mwtrg mwamptrg ryd420hold ryd1013hold d1lgm_ol d1lgmeom_ol ryd420shutter ryd420trg ryd420expshutter ryd420mako ryd1013trg ryd1013shutter ryd840_ol ryd1013mako tareptrg prbreptrg optrg dipolepushtrg prbtrg scimottrg srcmottrg tweezertrg keysighttrg siglenttrg do7_2 do7_3 do7_4 do7_5 do7_6 do7_7 gmloadtrg do8_1 do8_2 do8_3 do8_4 tweezerintensityswitch ryd420awgchswitch uvlamptrg 
/*TTL State:*/ 1 0 1 0 1 0 1 1 1 1 1 1 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 1 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
END_TTL_SYSTEM

DAC_SYSTEM
/*DAC Name:*/ tarepamp prbrepamp opamp dipolepushamp prbamp scimotamp dac0_6 srcmotamp tweezerintensity dipolepushrepamp dac0_10 d1lgmamp d1lgmeomamp ryd420amp ryd1013amp dac0_15 motcoil biascoilx biascoily biascoilz mw_iq_i mw_iq_q dac1_6 electrode1 electrode2 electrode3 electrode4 electrode5 electrode6 electrode7 electrode8 dac1_15 
/*DAC Value:*/ 10 10 2.6 7 2.2 6 0 10 2.92 10 0 5.5 0 0.18 0.45 0 -7 0.386 -0.428 0.25 2.5 0 -9 2 0 0 0 0 0 0 0 1 
/*DAC Value Max:*/ 10 10 10 7.3 10 10 10 10 8 10 10 10 9 10 10 8 10 10 10 10 4.5 4.5 10 10 10 10 10 10 10 10 10 10 
/*DAC Value Min:*/ -9.9 -9.9 -9.9 0 -9.9 -9.9 -9.9 -9.9 -5 -9.9 -9.9 -9.9 0 -9.9 -9.9 0 -9.9 -9.9 -9.9 -9.9 -4.5 -4.5 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 
/*DAC Description:*/ dac0_0 dac0_1 dac0_2 dac0_3 dac0_4 dac0_5 dac0_6 dac0_7 dac0_8 dac0_9 dac0_10 dac0_11 dac0_12 dac0_13 dac0_14 dac0_15 dac1_0 -5.1_to_+4.5 -4.5_to_+4.4 -4.5_to_+4 -4_to+4 dac1_5 dac1_6 dac1_7 dac1_8 dac1_9 dac1_10 dac1_11 dac1_12 dac1_13 dac1_14 dac1_15
END_DAC_SYSTEM

DDS_SYSTEM
/*DDS Name:*/ dds0_0 scisrcmot prb ryd420brimrose dds1_0 dds1_1 dds1_2 dds1_3 tarep prbrep d1lgm dds2_3 
/*DDS Amplitude:*/ 100 100 100 100 100 100 100 100 100 100 100 100 
/*DDS Amplitude Max:*/ 100 100 100 100 100 100 100 100 100 100 100 100 
/*DDS Amplitude Min:*/ 0 0 0 0 0 0 0 0 0 0 0 0 
/*DDS Frequency:*/ 80 80 100 80 80 80 80 80 80 80 80 80 
/*DDS Frequency Max:*/ 500 500 500 500 500 500 500 500 500 500 500 500 
/*DDS Frequency Min:*/ 0 0 0 0 0 0 0 0 0 0 0 0 
/*DDS Description:*/ None None None None None None None None also_for_tweezer also_dipolepushrep also split
END_DDS_SYSTEM

OFFSETLOCK_SYSTEM
/*OffsetLock Name:*/ ol_cooling ol_repump ol_d1lgm ol_d1_repump ol_ryd840 
/*OffsetLock Value:*/ 1216 5282 784 6833.682 586 
/*OffsetLock Description:*/ None resonace None None None
END_OFFSETLOCK_SYSTEM

MICROWAVE_SYSTEM
/*Control?*/ 1
/*List Size:*/ 2
/*Freq:*/ mw_scan
/*Power:*/ 15
END_MICROWAVE_SYSTEM

PICOSCREW
/* Screw-1 Value:*/ 0
/* Screw-2 Value:*/ 0
/* Screw-3 Value:*/ 0
/* Screw-4 Value:*/ 0
/*Control?*/ 0
END_PICOSCREW

AI-SYSTEM
/*Query Between Variations?*/ 0
/*Query Continuously?*/ 0
/*Average Number:*/ 100
/*Contiuous Mode Interval:*/ 1000
/*Ai Names:*/ bias_x bias_z mot_topleft mot_vertical tweezer_intensity_output adc_a5 ryd1013_pickoff adc_a7 bias_y mot_coil mot_topright prb_pickoff op_pickoff ryd420_pickoff adc_b6 adc_b7 
/*Ai Notes:*/ None None None None None None None None None None None None None None None None 
/*Channel Ranges*/ 10V 10V 10V 10V 10V 10V 2.5V 10V 10V 5V 10V 10V 10V 2.5V Off 10V
END_AI-SYSTEM

CALIBRATION_MANAGER
/*Auto Cal Checked: */ 0
/*Calibration Number: */ 13
/*Calibration Name: */ ryd1013_pwr
/*Analog Input Chanel: */ ryd1013_pickoff
/*Analog Output Control Chanel: */ ryd1013amp
/*Control Values: */ [ 0 10 ] 41
/*Calibration Active: */ 1
/*TTL Config Size: */ 2
/*ttl config: */ ryd1013trg ryd1013shutter 
/*Analog Output Config Size: */ 0
/*Analog Output Config: */ /*Data Point Average Number: */ 500
/*Use Agilent: */ 0
/*Which Agilent: */ Cryo Siglent
/*Which Agilent Channel: */ 1
/*Recent Calibration Result:*/ /*Number of Calibration Coefficients: */ 9
/*Calibration Coefficients: */ /*Calibration BSpline order: */ 0
/*Calibration BSpline order: */ 5
/*Calibration BSpline breakpoints: */ 0
/*Number of Control Vals: */ 0
/*Control Vals: */ /*Number of Result Vals: */0
/*Number of Result Vals: */ 41
/*Result Vals: */ 
/*Historical Calibration Result:*/ /*Number of Calibration Coefficients: */ 0
/*Data Point Average Number: */ 500
END_CALIBRATION_MANAGER

MAKO1_CAM
/*Mako System Active:*/ 0
/*Left:*/ 0
/*Top:*/ 963
/*Right:*/ 1291
/*Bottom:*/ 0
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ 15000
/*Frame Rate:*/ 5.000025000125
/*Raw Gain:*/ 0
/*Pics Per Rep:*/ 1
/*Trigger Mode:*/ FixedRate
END_MAKO1_CAM

MAKO2_CAM
/*Mako System Active:*/ 0
/*Left:*/ 0
/*Top:*/ 1543
/*Right:*/ 2063
/*Bottom:*/ 0
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ 14994
/*Frame Rate:*/ 5.000025000125
/*Raw Gain:*/ 0
/*Pics Per Rep:*/ 1
/*Trigger Mode:*/ FixedRate
END_MAKO2_CAM

MAKO3_CAM
/*Mako System Active:*/ 0
/*Left:*/ 964
/*Top:*/ 971
/*Right:*/ 1015
/*Bottom:*/ 920
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ 15000
/*Frame Rate:*/ 16.59806134643
/*Raw Gain:*/ 0
/*Pics Per Rep:*/ 1
/*Trigger Mode:*/ Line1
END_MAKO3_CAM

MAKO4_CAM
/*Mako System Active:*/ 0
/*Left:*/ 968
/*Top:*/ 763
/*Right:*/ 1023
/*Bottom:*/ 704
/*H-Bin:*/ 1
/*V-Bin:*/ 1
/*Exposure Time:*/ 1000
/*Frame Rate:*/ 16.59806134643
/*Raw Gain:*/ 0
/*Pics Per Rep:*/ 1
/*Trigger Mode:*/ Line1
END_MAKO4_CAM

CONFIGURATION_NOTES
END_CONFIGURATION_NOTES

MAIN_OPTIONS
/*Randomize Variations?*/ 1
/*Repetition First Over Variation?*/ 0
/*In-Experiment Calibration?*/ 0
/*In-Experiment Calibration Interval*/ 10.00
/*Atom Threshold for Load Skip*/ 4294967295
END_MAIN_OPTIONS

DEBUGGING_OPTIONS
/*Sleep Time:*/ 10
END_DEBUGGING_OPTIONS

REPETITIONS
/*Reps:*/ 5
END_REPETITIONS
CONFIG_PARAMETERS
RANGE-INFO
/*# Scan Dimensions:*/	4
/*Dim #1:*/
/*Number of Ranges:*/	3
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		16
/*Range #2:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		11
/*Range #3:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		11
/*Dim #2:*/
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		18
/*Dim #3:*/
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		11
/*Dim #4:*/
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		5
/*# Variables: */		116
/*Variable #0*/
/*Name:*/		mot_gradient
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-7
/*Scope:*/		global
/*Variable #1*/
/*Name:*/		bias_x
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.5
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.386
/*Scope:*/		global
/*Variable #2*/
/*Name:*/		bias_y
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-0.428
/*Scope:*/		global
/*Variable #3*/
/*Name:*/		bias_z
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.1
/*Final Value: */	0.6
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.25
/*Scope:*/		global
/*Variable #4*/
/*Name:*/		mot_load_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	5.5
/*Scope:*/		global
/*Variable #5*/
/*Name:*/		mot_load_cool_amp_cal
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	2
/*Final Value: */	8
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	8
/*Scope:*/		global
/*Variable #6*/
/*Name:*/		t_loading
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	500
/*Final Value: */	1000
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	100
/*Scope:*/		global
/*Variable #7*/
/*Name:*/		pgc_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-120
/*Final Value: */	-30
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-90
/*Scope:*/		global
/*Variable #8*/
/*Name:*/		pgc_olrepump
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	5232
/*Final Value: */	5332
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #9*/
/*Name:*/		pgc_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	10
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	4
/*Scope:*/		global
/*Variable #10*/
/*Name:*/		pgc_rep_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	10
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	6
/*Scope:*/		global
/*Variable #11*/
/*Name:*/		pgc_bias_x
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	2
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.8
/*Scope:*/		global
/*Variable #12*/
/*Name:*/		pgc_bias_y
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-2.5
/*Final Value: */	0.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-1.1
/*Scope:*/		global
/*Variable #13*/
/*Name:*/		pgc_bias_z
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-0.05
/*Scope:*/		global
/*Variable #14*/
/*Name:*/		t_pgc_cool_time
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	5
/*Final Value: */	105
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	25
/*Scope:*/		global
/*Variable #15*/
/*Name:*/		t_pgc_twz_loading
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	51
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #16*/
/*Name:*/		d1lgm_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	30
/*Final Value: */	110
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	40
/*Scope:*/		global
/*Variable #17*/
/*Name:*/		d1lgm_olrepump
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-2
/*Final Value: */	2
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-1
/*Scope:*/		global
/*Variable #18*/
/*Name:*/		d1lgm_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	2.5
/*Final Value: */	8
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	8
/*Scope:*/		global
/*Variable #19*/
/*Name:*/		d1lgm_rep_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	8
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #20*/
/*Name:*/		t_lgm_mot_cool_time
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	25
/*Scope:*/		global
/*Variable #21*/
/*Name:*/		t_lgm_cool_time
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	10
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	5
/*Scope:*/		global
/*Variable #22*/
/*Name:*/		t_tof
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.3
/*Final Value: */	12.3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	10
/*Scope:*/		global
/*Variable #23*/
/*Name:*/		shutter_time_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	10
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #24*/
/*Name:*/		shift_bias_x
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	2.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	3.25
/*Scope:*/		global
/*Variable #25*/
/*Name:*/		shift_bias_y
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-3
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-2
/*Scope:*/		global
/*Variable #26*/
/*Name:*/		shift_bias_z
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.5
/*Final Value: */	0.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.05
/*Scope:*/		global
/*Variable #27*/
/*Name:*/		shift_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1216
/*Final Value: */	1236
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1230
/*Scope:*/		global
/*Variable #28*/
/*Name:*/		twz_intensity
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	2
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	2.92
/*Scope:*/		global
/*Variable #29*/
/*Name:*/		twz_int_lifetime
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.522
/*Final Value: */	6.264
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.606
/*Scope:*/		global
/*Variable #30*/
/*Name:*/		twz_dac_intensity
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.272
/*Scope:*/		global
/*Variable #31*/
/*Name:*/		twz_intensityservo_bias
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.189
/*Scope:*/		global
/*Variable #32*/
/*Name:*/		pgc_twz_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-100
/*Final Value: */	-185
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-90
/*Scope:*/		global
/*Variable #33*/
/*Name:*/		pgc_twz_olrepump
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	5182
/*Final Value: */	5382
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	28.8
/*Scope:*/		global
/*Variable #34*/
/*Name:*/		pgc_twz_olcool_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-60
/*Final Value: */	-25
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-60
/*Scope:*/		global
/*Variable #35*/
/*Name:*/		pgc_twz_olrepump_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	28.8
/*Final Value: */	30
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	28.8
/*Scope:*/		global
/*Variable #36*/
/*Name:*/		pgc_twz_rep_sweep_center
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	80
/*Scope:*/		global
/*Variable #37*/
/*Name:*/		pgc_twz_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.5
/*Final Value: */	3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.5
/*Scope:*/		global
/*Variable #38*/
/*Name:*/		pgc_twz_cool_amp_cal
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	1.7
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.6
/*Scope:*/		global
/*Variable #39*/
/*Name:*/		pgc_twz_cool_amp_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.01
/*Final Value: */	3.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.5
/*Scope:*/		global
/*Variable #40*/
/*Name:*/		pgc_twz_rep_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.6
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.8
/*Scope:*/		global
/*Variable #41*/
/*Name:*/		pgc_twz_rep_amp_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	6.1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.8
/*Scope:*/		global
/*Variable #42*/
/*Name:*/		pgcprb_twz_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	3.1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	2.5
/*Scope:*/		global
/*Variable #43*/
/*Name:*/		pgcprb_twz_cool_amp_cal
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.4
/*Final Value: */	3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	2.71
/*Scope:*/		global
/*Variable #44*/
/*Name:*/		pgcprb_twz_cool_amp_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.9
/*Scope:*/		global
/*Variable #45*/
/*Name:*/		pgcprb_twz_rep_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	4
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1
/*Scope:*/		global
/*Variable #46*/
/*Name:*/		pgcprb_twz_rep_amp_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0.3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #47*/
/*Name:*/		pgc_twz_bias_x
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.8
/*Scope:*/		global
/*Variable #48*/
/*Name:*/		pgc_twz_bias_y
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-5
/*Final Value: */	3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-1.1
/*Scope:*/		global
/*Variable #49*/
/*Name:*/		pgc_twz_bias_z
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-1.5
/*Final Value: */	0.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-0.05
/*Scope:*/		global
/*Variable #50*/
/*Name:*/		pgc_twz_bias_x_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-5
/*Final Value: */	5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	3.2
/*Scope:*/		global
/*Variable #51*/
/*Name:*/		pgc_twz_bias_y_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-6
/*Final Value: */	5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-4.5
/*Scope:*/		global
/*Variable #52*/
/*Name:*/		pgc_twz_bias_z_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-3.5
/*Final Value: */	3.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.1
/*Scope:*/		global
/*Variable #53*/
/*Name:*/		t_pgc_twz
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	81
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	40
/*Scope:*/		global
/*Variable #54*/
/*Name:*/		d1lgm_twz_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	10
/*Final Value: */	150
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	70
/*Scope:*/		global
/*Variable #55*/
/*Name:*/		d1lgm_twz_olrepump
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-15
/*Final Value: */	-5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-0.5
/*Scope:*/		global
/*Variable #56*/
/*Name:*/		d1lgmprb_twz_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	8
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	3
/*Scope:*/		global
/*Variable #57*/
/*Name:*/		d1lgmprb_twz_cool_amp_cal
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	3
/*Scope:*/		global
/*Variable #58*/
/*Name:*/		d1lgmprb_twz_rep_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	9.9
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #59*/
/*Name:*/		t_lifetime
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	10
/*Final Value: */	500
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	19990
/*Scope:*/		global
/*Variable #60*/
/*Name:*/		t_pulsed_cool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	41
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	14
/*Scope:*/		global
/*Variable #61*/
/*Name:*/		t_polarizingf2
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	21
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	10
/*Scope:*/		global
/*Variable #62*/
/*Name:*/		blowoff_amp_f2
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	8.1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #63*/
/*Name:*/		pgc_lifetime_twz_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1221
/*Final Value: */	1401
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-150
/*Scope:*/		global
/*Variable #64*/
/*Name:*/		pgc_lifetime_twz_olrepump
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	5242
/*Final Value: */	5342
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-10
/*Scope:*/		global
/*Variable #65*/
/*Name:*/		pgc_lifetime_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	6.1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.5
/*Scope:*/		global
/*Variable #66*/
/*Name:*/		pgc_lifetime_cool_amp_cal
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.024
/*Final Value: */	1.7
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.6
/*Scope:*/		global
/*Variable #67*/
/*Name:*/		pgc_lifetime_repump_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	10
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	6
/*Scope:*/		global
/*Variable #68*/
/*Name:*/		pgcprb_lifetime_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	5.1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1.9
/*Scope:*/		global
/*Variable #69*/
/*Name:*/		pgcprb_lifetime_repump_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	3
/*Final Value: */	10
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	10
/*Scope:*/		global
/*Variable #70*/
/*Name:*/		pgc_flash_dutycycle
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-180
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-10
/*Scope:*/		global
/*Variable #71*/
/*Name:*/		pgc_flash_freq
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.001
/*Final Value: */	0.01
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.01
/*Scope:*/		global
/*Variable #72*/
/*Name:*/		pgc_flash_ontime
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	51
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	15
/*Scope:*/		global
/*Variable #73*/
/*Name:*/		pgc_flash_offtime
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	250
/*Scope:*/		global
/*Variable #74*/
/*Name:*/		pgc_flash_amp_cal
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	2.1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.9
/*Scope:*/		global
/*Variable #75*/
/*Name:*/		kick_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	60
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	30
/*Scope:*/		global
/*Variable #76*/
/*Name:*/		kick_olrepump
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	60
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	30
/*Scope:*/		global
/*Variable #77*/
/*Name:*/		kick_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.45
/*Scope:*/		global
/*Variable #78*/
/*Name:*/		kick_repump_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	3
/*Scope:*/		global
/*Variable #79*/
/*Name:*/		t_kick
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	15.1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.5
/*Scope:*/		global
/*Variable #80*/
/*Name:*/		twz_mod_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.05
/*Final Value: */	0.4
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.75
/*Scope:*/		global
/*Variable #81*/
/*Name:*/		twz_mod_freq
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	175
/*Final Value: */	325
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	250
/*Scope:*/		global
/*Variable #82*/
/*Name:*/		twz_int_low
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.03
/*Final Value: */	0.29
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.26
/*Scope:*/		global
/*Variable #83*/
/*Name:*/		t_wait_before_rr
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	10
/*Final Value: */	2000
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	10
/*Scope:*/		global
/*Variable #84*/
/*Name:*/		t_twz_release
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.0001
/*Final Value: */	0.0301
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.015
/*Scope:*/		global
/*Variable #85*/
/*Name:*/		probe_olcool
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-65
/*Final Value: */	-25
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-65
/*Scope:*/		global
/*Variable #86*/
/*Name:*/		probe_olrepump
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	60
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	30
/*Scope:*/		global
/*Variable #87*/
/*Name:*/		probe_cool_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1.5
/*Final Value: */	3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	2.1
/*Scope:*/		global
/*Variable #88*/
/*Name:*/		probe_cool_amp_cal
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1.5
/*Final Value: */	7.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	2.71
/*Scope:*/		global
/*Variable #89*/
/*Name:*/		probe_repump_amp
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.5
/*Final Value: */	7.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	10
/*Scope:*/		global
/*Variable #90*/
/*Name:*/		pgc_img_bias_x
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	3
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.8
/*Scope:*/		global
/*Variable #91*/
/*Name:*/		pgc_img_bias_y
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-4
/*Final Value: */	4
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-1.1
/*Scope:*/		global
/*Variable #92*/
/*Name:*/		pgc_img_bias_z
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.05
/*Scope:*/		global
/*Variable #93*/
/*Name:*/		t_twz_imaging
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	5
/*Final Value: */	20
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	14
/*Scope:*/		global
/*Variable #94*/
/*Name:*/		test_mot_pwr
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	8
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
/*Variable #95*/
/*Name:*/		repeat_num
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	151
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	40
/*Scope:*/		global
/*Variable #96*/
/*Name:*/		imaging_amplitude
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.45
/*Final Value: */	1.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.5
/*Scope:*/		global
/*Variable #97*/
/*Name:*/		imaging_repump_amplitude
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	10
/*Scope:*/		global
/*Variable #98*/
/*Name:*/		amplitude_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	5
/*Final Value: */	7
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.5
/*Scope:*/		global
/*Variable #99*/
/*Name:*/		resonance_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	77
/*Final Value: */	83
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	80.2
/*Scope:*/		global
/*Variable #100*/
/*Name:*/		time_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.0001
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.0385
/*Scope:*/		global
/*Variable #101*/
/*Name:*/		time_scan_2
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.0001
/*Final Value: */	0.0051
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.002
/*Scope:*/		global
/*Variable #102*/
/*Name:*/		time_scan_us
/*Scan-Type:*/	Variable
/*Scan-Dimension:*/	0
/*Initial Value: */	0.01
/*Final Value: */	0.31
/*Initial Value: */	1.5
/*Final Value: */	1.8
/*Initial Value: */	2.5
/*Final Value: */	2.8
/*Constant Value:*/	0.15
/*Scope:*/		global
/*Variable #103*/
/*Name:*/		quantization_bias_x
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.7
/*Final Value: */	0.9
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.75
/*Scope:*/		global
/*Variable #104*/
/*Name:*/		quantization_bias_y
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	-0.7
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-0.95
/*Scope:*/		global
/*Variable #105*/
/*Name:*/		quantization_bias_z
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.2
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-0.05
/*Scope:*/		global
/*Variable #106*/
/*Name:*/		fraction_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.1
/*Scope:*/		global
/*Variable #107*/
/*Name:*/		integer_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-400
/*Final Value: */	-200
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-8000
/*Scope:*/		global
/*Variable #108*/
/*Name:*/		switch_toggle
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	1
/*Scope:*/		global
/*Variable #109*/
/*Name:*/		mw_resonance
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	7
/*Final Value: */	7.2
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	7.135
/*Scope:*/		global
/*Variable #110*/
/*Name:*/		mw_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	6000
/*Final Value: */	8000
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	6350
/*Scope:*/		global
/*Variable #111*/
/*Name:*/		phase_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	180
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	90
/*Scope:*/		global
/*Variable #112*/
/*Name:*/		bias_e_x
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.5
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.406
/*Scope:*/		global
/*Variable #113*/
/*Name:*/		bias_e_y
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.7
/*Final Value: */	0.5
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-0.472
/*Scope:*/		global
/*Variable #114*/
/*Name:*/		bias_e_z
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.132
/*Scope:*/		global
/*Variable #115*/
/*Name:*/		delay_scan
/*Scan-Type:*/	Constant
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0.002
/*Initial Value: */	0
/*Final Value: */	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0
/*Scope:*/		global
END_CONFIG_PARAMETERS