Version: 1.0
SCRIPTS
/*Master Script Address:*/ C:/Chimera/Chimera-Cryo/Configurations/CryoTweezerLoading/tweezerloading_trapDepth.mScript
END_SCRIPTS
GMOOG
/*Experiment Active:*/ 0
/*Scripted Arb Address:*/C:/Chimera/Chimera-Cryo/Configurations/CryoTweezerLoading/5x5tweezerloading.gScript
END_GMOOG
MICROWAVE_SIGLENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_MICROWAVE_SIGLENT_AWG
MICROWAVE_AGILENT_AWG
/*Synced Option:*/ 0
CHANNEL_1
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				twz_mod_amp
/*Sine Freq:*/					twz_mod_freq
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		C:/Chimera/Chimera-Cryo/Configurations/CryoTweezerLoading/tweezer_depth_modulation.aScript
/*Scripted Arb Calibrated:*/	0
CHANNEL_2
/*Channel Mode:*/				no_control
/*DC Level:*/					"!#EMPTY_STRING#!"
/*DC Calibrated:*/				0
/*Sine Amplitude:*/				"!#EMPTY_STRING#!"
/*Sine Freq:*/					"!#EMPTY_STRING#!"
/*Sine Burst:*/					1
/*Sine Calibrated:*/			0
/*Square Amplitude:*/			"!#EMPTY_STRING#!"
/*Square Freq:*/				"!#EMPTY_STRING#!"
/*Square Offset:*/				"!#EMPTY_STRING#!"
/*Square Burst:*/				1
/*Square Calibrated:*/			0
/*Preloaded Arb Address:*/		"!#EMPTY_STRING#!"
/*Preloaded Arb Calibrated:*/	0
/*Preloaded Arb Burst:*/	0
/*Scripted Arb Address:*/		"!#EMPTY_STRING#!"
/*Scripted Arb Calibrated:*/	0
END_MICROWAVE_AGILENT_AWG
CAMERA_SETTINGS
/*Control Andor:*/			1
/*Trigger Mode:*/			External Exposure
/*Acquisition Mode:*/		Single-Scan
/*Gain Mode:*/				High dynamic range (16-bit)
/*Frame Rate:*/				1
/*Camera Temperature:*/		-45
/*Number of Exposures:*/	2
/*Exposure Times:*/			0.02500000037253 0.009999999776483 
/*Andor Pics Per Rep:*/		2
END_CAMERA_SETTINGS
PICTURE_SETTINGS
/*Transformation Mode:*/ Fast
/*Color Options:*/ 0 0 0 0 
/*Threshold Settings:*/ 100 100 100 100 
/*Software Accumulation (accum all / Number)*/ 0 1 0 1 0 1 0 1 
/*Pic Scale Factor:*/	50
END_PICTURE_SETTINGS

CAMERA_IMAGE_DIMENSIONS
/*Left:*/ 801
/*Right:*/ 1200
/*H-Bin:*/ 2
/*Bottom:*/ 801
/*Top:*/ 1200
/*V-Bin:*/ 2
END_CAMERA_IMAGE_DIMENSIONS
ANDOR_PICTURE_MANAGER
/*Slider Locs (Min/Max):*/
110 150
110 150
105 150
0 300
/*Auto-Scale Pics?*/ 0
/*Special >Max Color?*/ 0
/*Special <Min Color?*/ 0
/*Always Show Grid?*/ 0
END_ANDOR_PICTURE_MANAGER
DATA_ANALYSIS
/*Auto-Threshold Analysis?*/	0
/*Number of Analysis Grids: */	1
/*Grid #1:*/ 
/*Top-Left Corner Row:*/		0
/*Top-Left Corner Column:*/		0
/*Grid Width:*/					0
/*Grid Height:*/				0
/*Pixel Spacing:*/				0
BEGIN_ACTIVE_PLOTS
/*Number of Active Plots:*/ 0
END_ACTIVE_PLOTS
/*Display Grid?*/ 0
/*Auto Bump Analysis?*/ 0
/*Bump Param?*/ "!#EMPTY_STRING#!"
END_DATA_ANALYSIS
CONFIG_PARAMETERS
RANGE-INFO
/*# Scan Dimensions:*/	81
/*Dim #1:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		51
/*Dim #2:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		1
/*Right-Inclusive?*/	1
/*# Variations: */		11
/*Dim #3:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		10
/*Dim #4:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #5:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #6:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #7:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #8:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #9:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #10:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #11:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #12:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #13:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #14:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #15:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #16:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #17:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #18:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #19:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #20:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #21:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #22:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #23:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #24:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #25:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #26:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #27:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #28:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #29:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #30:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #31:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #32:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #33:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #34:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #35:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #36:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #37:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #38:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #39:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #40:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #41:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #42:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #43:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #44:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #45:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #46:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #47:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #48:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #49:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #50:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #51:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #52:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #53:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #54:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #55:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #56:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #57:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #58:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #59:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #60:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #61:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #62:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #63:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #64:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #65:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #66:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #67:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #68:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #69:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #70:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #71:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #72:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #73:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #74:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #75:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #76:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #77:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #78:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #79:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #80:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*Dim #81:*/ 
/*Number of Ranges:*/	1
/*Range #1:*/
/*Left-Inclusive?*/		0
/*Right-Inclusive?*/	1
/*# Variations: */		2
/*# Variables: */ 		47
/*Variable #0*/
/*Name:*/			mot_gradient
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	-7
/*Scope:*/			global

/*Variable #1*/
/*Name:*/			bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.5
/*Final Value: */	0.5
/*Constant Value:*/	0.2
/*Scope:*/			global

/*Variable #2*/
/*Name:*/			bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.35
/*Final Value: */	0.65
/*Constant Value:*/	-0.05
/*Scope:*/			global

/*Variable #3*/
/*Name:*/			bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.2
/*Final Value: */	0.2
/*Constant Value:*/	0.125
/*Scope:*/			global

/*Variable #4*/
/*Name:*/			t_loading
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	50
/*Final Value: */	450
/*Constant Value:*/	750
/*Scope:*/			global

/*Variable #5*/
/*Name:*/			pgc_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1256
/*Final Value: */	1456
/*Constant Value:*/	1416
/*Scope:*/			global

/*Variable #6*/
/*Name:*/			pgc_olrepump
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5282
/*Final Value: */	5382
/*Constant Value:*/	5292
/*Scope:*/			global

/*Variable #7*/
/*Name:*/			pgc_cool_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	10
/*Constant Value:*/	8
/*Scope:*/			global

/*Variable #8*/
/*Name:*/			pgc_rep_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	10
/*Constant Value:*/	6
/*Scope:*/			global

/*Variable #9*/
/*Name:*/			pgc_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	3
/*Constant Value:*/	2
/*Scope:*/			global

/*Variable #10*/
/*Name:*/			pgc_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-4
/*Final Value: */	4
/*Constant Value:*/	-1.4
/*Scope:*/			global

/*Variable #11*/
/*Name:*/			pgc_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	-0.05
/*Scope:*/			global

/*Variable #12*/
/*Name:*/			t_pgc_cool_time
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5
/*Final Value: */	105
/*Constant Value:*/	25
/*Scope:*/			global

/*Variable #13*/
/*Name:*/			t_tof
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.1
/*Final Value: */	10.1
/*Constant Value:*/	10
/*Scope:*/			global

/*Variable #14*/
/*Name:*/			resonance_scan
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1175
/*Final Value: */	1250
/*Constant Value:*/	0
/*Scope:*/			global

/*Variable #15*/
/*Name:*/			shutter_time_scan
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	10
/*Constant Value:*/	0
/*Scope:*/			global

/*Variable #16*/
/*Name:*/			shift_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	0.2
/*Scope:*/			global

/*Variable #17*/
/*Name:*/			shift_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	0
/*Scope:*/			global

/*Variable #18*/
/*Name:*/			shift_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-0.5
/*Final Value: */	0.5
/*Constant Value:*/	-0.1
/*Scope:*/			global

/*Variable #19*/
/*Name:*/			shift_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1216
/*Final Value: */	1236
/*Constant Value:*/	1230
/*Scope:*/			global

/*Variable #20*/
/*Name:*/			twz_intensity
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	2
/*Constant Value:*/	2.6
/*Scope:*/			global

/*Variable #21*/
/*Name:*/			pgc_twz_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1206
/*Final Value: */	1406
/*Constant Value:*/	1375
/*Scope:*/			global

/*Variable #22*/
/*Name:*/			pgc_twz_olrepump
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5182
/*Final Value: */	5382
/*Constant Value:*/	5272
/*Scope:*/			global

/*Variable #23*/
/*Name:*/			pgc_twz_cool_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	10
/*Constant Value:*/	6
/*Scope:*/			global

/*Variable #24*/
/*Name:*/			pgc_twz_rep_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	8
/*Constant Value:*/	6
/*Scope:*/			global

/*Variable #25*/
/*Name:*/			pgc_twz_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	3
/*Constant Value:*/	2
/*Scope:*/			global

/*Variable #26*/
/*Name:*/			pgc_twz_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-4
/*Final Value: */	4
/*Constant Value:*/	-1.4
/*Scope:*/			global

/*Variable #27*/
/*Name:*/			pgc_twz_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1.5
/*Final Value: */	1.5
/*Constant Value:*/	-0.05
/*Scope:*/			global

/*Variable #28*/
/*Name:*/			t_pgc_twz
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1
/*Final Value: */	81
/*Constant Value:*/	40
/*Scope:*/			global

/*Variable #29*/
/*Name:*/			t_lifetime
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1000
/*Final Value: */	21000
/*Constant Value:*/	100
/*Scope:*/			global

/*Variable #30*/
/*Name:*/			kick_olcool
/*Scan-Type:*/		Variable 
/*Scan-Dimension:*/	0
/*Initial Value: */	1131
/*Final Value: */	1231
/*Constant Value:*/	1176
/*Scope:*/			global

/*Variable #31*/
/*Name:*/			kick_olrepump
/*Scan-Type:*/		Variable 
/*Scan-Dimension:*/	0
/*Initial Value: */	5357
/*Final Value: */	5257
/*Constant Value:*/	5312
/*Scope:*/			global

/*Variable #32*/
/*Name:*/			kick_cool_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	2
/*Constant Value:*/	1.25
/*Scope:*/			global

/*Variable #33*/
/*Name:*/			kick_repump_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	5
/*Constant Value:*/	3
/*Scope:*/			global

/*Variable #34*/
/*Name:*/			t_kick
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.4
/*Scope:*/			global

/*Variable #35*/
/*Name:*/			twz_mod_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0
/*Final Value: */	0
/*Constant Value:*/	0.7
/*Scope:*/			global

/*Variable #36*/
/*Name:*/			twz_mod_freq
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	200
/*Final Value: */	400
/*Constant Value:*/	100
/*Scope:*/			global

/*Variable #37*/
/*Name:*/			twz_int_low
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.03
/*Final Value: */	0.4
/*Constant Value:*/	0.26
/*Scope:*/			global

/*Variable #38*/
/*Name:*/			twz_int_lifetime
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	0.3
/*Final Value: */	2.5
/*Constant Value:*/	2.25
/*Scope:*/			global

/*Variable #39*/
/*Name:*/			probe_olcool
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	1216
/*Final Value: */	1286
/*Constant Value:*/	1251
/*Scope:*/			global

/*Variable #40*/
/*Name:*/			probe_olrepump
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5262
/*Final Value: */	5362
/*Constant Value:*/	5297
/*Scope:*/			global

/*Variable #41*/
/*Name:*/			probe_cool_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	4
/*Final Value: */	6
/*Constant Value:*/	5.5
/*Scope:*/			global

/*Variable #42*/
/*Name:*/			probe_repump_amp
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	2
/*Final Value: */	10
/*Constant Value:*/	10
/*Scope:*/			global

/*Variable #43*/
/*Name:*/			pgc_img_bias_x
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	3
/*Constant Value:*/	2
/*Scope:*/			global

/*Variable #44*/
/*Name:*/			pgc_img_bias_y
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-4
/*Final Value: */	4
/*Constant Value:*/	-3
/*Scope:*/			global

/*Variable #45*/
/*Name:*/			pgc_img_bias_z
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	-1
/*Final Value: */	1
/*Constant Value:*/	-0.05
/*Scope:*/			global

/*Variable #46*/
/*Name:*/			t_twz_imaging
/*Scan-Type:*/		Constant 
/*Scan-Dimension:*/	0
/*Initial Value: */	5
/*Final Value: */	20
/*Constant Value:*/	20
/*Scope:*/			global

END_CONFIG_PARAMETERS
TTL_SYSTEM
/*TTL Name:*/ do1_0 do1_1 do1_2 do1_3 dipolepushshutter pixis_trg xyzmotshutter prbshutter do2_0 do2_1 do2_2 do2_3 do2_4 do2_5 do2_6 do2_7 tweezerhold dipolepushreptrg do3_2 do3_3 mako1 mako2 cooling_ol repump_ol do4_0 do4_1 do4_2 do4_3 do4_4 do4_5 do4_6 do4_7 do5_0 do5_1 do5_2 do5_3 do5_4 do5_5 do5_6 do5_7 tareptrg prbreptrg do6_2 dipolepushtrg prbtrg scimottrg srcmottrg do6_7 do7_0 do7_1 do7_2 do7_3 do7_4 do7_5 do7_6 do7_7 gmloadtrg do8_1 do8_2 do8_3 do8_4 do8_5 do8_6 do8_7 
/*TTL State:*/ 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 
END_TTL_SYSTEM
DAC_SYSTEM
/*DAC Name:*/ tarepamp prbrepamp dac0_2 dipolepushamp prbamp scimotamp dac0_6 srcmotamp tweezerintensity dipolepushrepamp dac0_10 dac0_11 dac0_12 dac0_13 motcoil1 motcoil2 motcoil biascoilx biascoily biascoilz dac1_4 dac1_5 dac1_6 dac1_7 dac1_8 dac1_9 dac1_10 dac1_11 dac1_12 dac1_13 dac1_14 dac1_15 
/*DAC Value:*/ 5 10 5 4.4 2 7 0 5 2.6 2 0 0 0 0 0 1 -7 0.3 0.37 0.125 0 0 -9 0 0 0 0 0 0 0 0 0 
/*DAC Value Max:*/ 10 10 10 6 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 10 
/*DAC Value Min:*/ -9.9 -9.9 -9.9 0 -9.9 -9.9 -9.9 -9.9 0 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 -9.9 
/*DAC Description:*/ dac0_0 dac0_1 dac0_2 dac0_3 dac0_4 dac0_5 dac0_6 dac0_7 dac0_8 dac0_9 dac0_10 dac0_11 dac0_12 dac0_13 dac0_14 dac0_15 dac1_0 dac1_1 -4.5_to_+4.5 -5_to_+4 -4_to+4 dac1_5 dac1_6 dac1_7 dac1_8 dac1_9 dac1_10 dac1_11 dac1_12 dac1_13 dac1_14 dac1_15 
END_DAC_SYSTEM
DDS_SYSTEM
/*DDS Name:*/ dds0_0 scisrcmot prb scimot_tmp dds1_0 dds1_1 dds1_2 dds1_3 tarep prbrep prbrep_tmp dds2_3 
/*DDS Amplitude:*/ 100 100 100 100 100 100 100 100 100 100 100 100 
/*DDS Amplitude Max:*/ 100 100 100 100 100 100 100 100 100 100 100 100 
/*DDS Amplitude Min:*/ 0 0 0 0 0 0 0 0 0 0 0 0 
/*DDS Frequency:*/ 80 80 100 80 80 80 80 80 80 80 80 80 
/*DDS Frequency Max:*/ 500 500 500 500 500 500 500 500 500 500 500 500 
/*DDS Frequency Min:*/ 0 0 0 0 0 0 0 0 0 0 0 0 
/*DDS Description:*/ None None None None None None None None also_for_tweezer now also split 
END_DDS_SYSTEM
OFFSETLOCK_SYSTEM
/*OffsetLock Name:*/ ol_cooling ol_repump 
/*OffsetLock Value:*/ 1216 5282 
/*OffsetLock Description:*/ None resonace 
END_OFFSETLOCK_SYSTEM
AI-SYSTEM
/*Query Between Variations?*/ 0
/*Query Continuously?*/ 0
/*Average Number:*/ 100
/*Contiuous Mode Interval:*/ 1000
/*Ai Names:*/ bias_x bias_z mot_pickoff adc_a3 adc_a4 adc_a5 adc_a6 adc_a7 bias_y mot_coil tweezer_servo_input adc_b3 adc_b4 adc_b5 adc_b6 adc_b7 
/*Ai Notes:*/ None None None None None None None None None None None None None None None None 
/*Channel Ranges*/ 2.5V 2.5V 5V Off Off Off Off Off 2.5V 5V 5V Off Off Off Off 10V 
END_AI-SYSTEM

CALIBRATION_MANAGER
/*Auto Cal Checked: */ 0
/*Calibration Number: */ 3
/*Calibration Name: */ test
/*Analog Input Chanel: */ adc_b7
/*Analog Output Control Chanel: */ motcoil2
/*Control Values: */ [ 0 9 ] 51
/*Calibration Active: */ 1
/*TTL Config Size: */ 1
/*ttl config: */ do1_0 
/*Analog Output Config Size: */ 0
/*Analog Output Config: */ 
/*Data Point Average Number: */ 100
/*Use Agilent: */0
/*Which Agilent: */Cryo Siglent
/*Which Agilent Channel: */1
/*Recent Calibration Result:*/
/*Number of Calibration Coefficients: */ 13
/*Calibration Coefficients: */ 0.00006198 0.30026368 0.89990787 1.80032915 2.69991947 3.60005138 4.49992561 5.40000356 6.29996854 7.19996093 8.09993795 8.69989153 9.00003598 
/*Calibration BSpline order: */ 4
/*Calibration BSpline breakpoints: */ 11
/*Number of Control Vals: */51
/*Control Vals: */0. 0.18 0.36 0.54 0.72 0.9 1.08 1.26 1.44 1.62 1.8 1.98 2.16 2.34 2.52 2.7 2.88 3.06 3.24 3.42 3.6 3.78 3.96 4.14 4.32 4.5 4.68 4.86 5.04 5.22 5.4 5.58 5.76 5.94 6.12 6.3 6.48 6.66 6.84 7.02 7.2 7.38 7.56 7.74 7.92 8.1 8.28 8.46 8.64 8.82 9. 
/*Number of Result Vals: */51
/*Result Vals: */0.00002136 0.17986694 0.36005737 0.54022645 0.72046876 0.90056764 1.08045289 1.2605884 1.44061708 1.62089297 1.80103153 1.98093509 2.16112857 2.3412122 2.52145756 2.70166326 2.88181707 3.06165349 3.24190191 3.4220191 3.60218207 3.78238166 3.96219977 4.14238716 4.32251961 4.50276803 4.68288217 4.86302072 5.04286935 5.22294992 5.40323191 5.58325449 5.76360363 5.94349498 6.12354808 6.30373547 6.48382519 6.66411023 6.84385815 7.02408826 7.20433058 7.38442946 7.56451918 7.74471877 7.92463149 8.10472732 8.28491775 8.46511429 8.64522538 8.82509537 9.00528275 
/*Historical Calibration Result:*/
/*Number of Calibration Coefficients: */ 13
/*Calibration Coefficients: */ 0.0000023 0.30018707 0.89993574 1.80024662 2.70001426 3.59998335 4.50008829 5.39994074 6.30017059 7.19974157 8.10029622 8.69958843 8.99999844 
/*Calibration BSpline order: */ 4
/*Calibration BSpline breakpoints: */ 11
/*Number of Control Vals: */21
/*Control Vals: */0. 0.45 0.9 1.35 1.8 2.25 2.7 3.15 3.6 4.05 4.5 4.95 5.4 5.85 6.3 6.75 7.2 7.65 8.1 8.55 9. 
/*Number of Result Vals: */21
/*Result Vals: */-0.00002136 0.4501175 0.90049745 1.35056612 1.80094913 2.25106357 2.70151067 3.15175024 3.60209357 4.05215308 4.50260018 4.95270852 5.40316477 5.85316935 6.30353404 6.75395062 7.20408643 7.65441755 8.10454115 8.55504929 9.00512101 
/*Calibration Name: */ test2
/*Analog Input Chanel: */ adc_b7
/*Analog Output Control Chanel: */ motcoil2
/*Control Values: */ [ 0 5 ] 51
/*Calibration Active: */ 1
/*TTL Config Size: */ 1
/*ttl config: */ do1_0 
/*Analog Output Config Size: */ 0
/*Analog Output Config: */ 
/*Data Point Average Number: */ 100
/*Use Agilent: */0
/*Which Agilent: */Cryo Siglent
/*Which Agilent Channel: */1
/*Recent Calibration Result:*/
/*Number of Calibration Coefficients: */ 9
/*Calibration Coefficients: */ 0.00006761 0.25028028 0.75008567 1.50033044 2.50005173 3.50007819 4.2499463 4.74988052 4.9999734 
/*Calibration BSpline order: */ 5
/*Calibration BSpline breakpoints: */ 6
/*Number of Control Vals: */51
/*Control Vals: */0. 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. 1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2. 2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3. 3.1 3.2 3.3 3.4 3.5 3.6 3.7 3.8 3.9 4. 4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9 5. 
/*Number of Result Vals: */51
/*Result Vals: */0.00011902 0.09991455 0.20006104 0.30017396 0.40008545 0.50017396 0.60037538 0.70029603 0.80036927 0.90053713 1.00043031 1.10051576 1.20063784 1.30052187 1.40071413 1.50081179 1.60073855 1.70088504 1.80101321 1.90092471 2.00111087 2.1012299 2.20114444 2.30130619 2.40144963 2.50120853 2.60150151 2.70169073 2.80146794 2.90167547 3.00177313 3.10168462 3.20192877 3.30204474 3.40192267 3.50210273 3.6022187 3.70202948 3.80220038 3.90236518 4.00240181 4.10241096 4.20256966 4.30268258 4.40260628 4.50270699 4.60281686 4.70276193 4.80296335 4.9029664 5.00293588 
/*Historical Calibration Result:*/
/*Number of Calibration Coefficients: */ 9
/*Calibration Coefficients: */ 0.00005085 0.25024576 0.7500139 1.50023565 2.50001071 3.50008318 4.24985752 4.74985012 4.99994834 
/*Calibration BSpline order: */ 5
/*Calibration BSpline breakpoints: */ 6
/*Number of Control Vals: */51
/*Control Vals: */0. 0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. 1.1 1.2 1.3 1.4 1.5 1.6 1.7 1.8 1.9 2. 2.1 2.2 2.3 2.4 2.5 2.6 2.7 2.8 2.9 3. 3.1 3.2 3.3 3.4 3.5 3.6 3.7 3.8 3.9 4. 4.1 4.2 4.3 4.4 4.5 4.6 4.7 4.8 4.9 5. 
/*Number of Result Vals: */51
/*Result Vals: */0.00001831 0.09986877 0.19994201 0.30018616 0.40002441 0.50009766 0.60031129 0.70023804 0.80028687 0.90050966 1.00043641 1.1004883 1.20068056 1.30043641 1.40066836 1.50078433 1.60076296 1.70087893 1.80093081 1.90086673 2.00101932 2.10118717 2.20106815 2.30126652 2.40134892 2.50118717 2.60145268 2.70154424 2.80141911 2.90163884 3.00173345 3.10160527 3.2018189 3.30184942 3.40180364 3.50199591 3.60210578 3.70200507 3.80216071 3.90229499 4.00238655 4.10238044 4.20244453 4.30257271 4.4024781 4.50267953 4.60274361 4.70269173 4.80285043 4.90291452 5.00281075 
/*Calibration Name: */ mot_pwr
/*Analog Input Chanel: */ mot_pickoff
/*Analog Output Control Chanel: */ scimotamp
/*Control Values: */ [ 0.1 7.6 ] 51
/*Calibration Active: */ 1
/*TTL Config Size: */ 2
/*ttl config: */ scimottrg xyzmotshutter 
/*Analog Output Config Size: */ 0
/*Analog Output Config: */ 
/*Data Point Average Number: */ 500
/*Use Agilent: */0
/*Which Agilent: */Cryo Siglent
/*Which Agilent Channel: */1
/*Recent Calibration Result:*/
/*Number of Calibration Coefficients: */ 9
/*Calibration Coefficients: */ 0.25467639 1.85711585 2.54247547 4.05165764 4.96485234 6.32038907 6.81266405 7.40196298 7.59435145 
/*Calibration BSpline order: */ 5
/*Calibration BSpline breakpoints: */ 6
/*Number of Control Vals: */51
/*Control Vals: */0.1 0.25 0.4 0.55 0.7 0.85 1. 1.15 1.3 1.45 1.6 1.75 1.9 2.05 2.2 2.35 2.5 2.65 2.8 2.95 3.1 3.25 3.4 3.55 3.7 3.85 4. 4.15 4.3 4.45 4.6 4.75 4.9 5.05 5.2 5.35 5.5 5.65 5.8 5.95 6.1 6.25 6.4 6.55 6.7 6.85 7. 7.15 7.3 7.45 7.6 
/*Number of Result Vals: */51
/*Result Vals: */0.02779992 0.0320896 0.03896573 0.04898953 0.06036317 0.07543901 0.09237526 0.1113889 0.13324076 0.15804559 0.18457167 0.21294687 0.24458998 0.27814325 0.31283609 0.34999084 0.38923368 0.43031343 0.47277078 0.51712882 0.56363414 0.61116337 0.66125156 0.71386425 0.76812433 0.82639546 0.88700125 0.948493 1.01188208 1.07607715 1.13907407 1.20477462 1.272978 1.3399826 1.40637593 1.47328318 1.54053468 1.60954741 1.68295572 1.75840907 1.83477248 1.91453597 1.99564501 2.07485641 2.15727531 2.23970519 2.32531877 2.40834925 2.49227821 2.57613269 2.65979461 
/*Historical Calibration Result:*/
/*Number of Calibration Coefficients: */ 9
/*Calibration Coefficients: */ 0.155281 1.83411045 2.4258813 3.95736167 4.83109101 6.07824543 6.71411497 7.12472847 7.46249856 
/*Calibration BSpline order: */ 5
/*Calibration BSpline breakpoints: */ 6
/*Number of Control Vals: */51
/*Control Vals: */0. 0.15 0.3 0.45 0.6 0.75 0.9 1.05 1.2 1.35 1.5 1.65 1.8 1.95 2.1 2.25 2.4 2.55 2.7 2.85 3. 3.15 3.3 3.45 3.6 3.75 3.9 4.05 4.2 4.35 4.5 4.65 4.8 4.95 5.1 5.25 5.4 5.55 5.7 5.85 6. 6.15 6.3 6.45 6.6 6.75 6.9 7.05 7.2 7.35 7.5 
/*Number of Result Vals: */51
/*Result Vals: */0.0225631 0.02931761 0.03667638 0.03779717 0.05711692 0.0605533 0.0768479 0.09305628 0.11462981 0.14475082 0.16063189 0.19723426 0.21704764 0.25529267 0.28132115 0.3163068 0.36215323 0.39202475 0.44216208 0.47610706 0.53119907 0.56989502 0.61712012 0.66683325 0.72566759 0.78271737 0.83004089 0.8965865 0.95359584 1.01649525 1.08465377 1.14687719 1.21262703 1.26701483 1.34433195 1.40873058 1.48332316 1.55503784 1.61885052 1.69232688 1.75786462 1.8384434 1.90635014 1.98931013 2.07421415 2.14637135 2.22687613 2.31501205 2.39810633 2.47348857 2.5 
END_CALIBRATION_MANAGER
MAKO1_CAMERA_SETTING
/*Mako System Active:*/ 0
/*Left:*/ 38
/*Top:*/ 93
/*Right:*/ 109
/*Bottom:*/ 22
/*H-Bin:*/ 8
/*V-Bin:*/ 8
/*Exposure Time:*/ 2000
/*Frame Rate:*/ 40.00320025602
/*Raw Gain:*/ 30
/*Pics Per Rep:*/ 0
/*Trigger Mode:*/ FixedRate
END_MAKO1_CAMERA_SETTING
MAKO2_CAMERA_SETTING
/*Mako System Active:*/ 0
/*Left:*/ 204
/*Top:*/ 259
/*Right:*/ 339
/*Bottom:*/ 124
/*H-Bin:*/ 4
/*V-Bin:*/ 4
/*Exposure Time:*/ 2992
/*Frame Rate:*/ 12.00004800019
/*Raw Gain:*/ 0
/*Pics Per Rep:*/ 99
/*Trigger Mode:*/ Line1
END_MAKO2_CAMERA_SETTING
CONFIGURATION_NOTES

END_CONFIGURATION_NOTES
MAIN_OPTIONS
/*Randomize Variations?*/ 1
/*Repetition First Over Variation?*/ 0
/*Atom Threshold for Load Skip*/ 4294967295
END_MAIN_OPTIONS
DEBUGGING_OPTIONS
/*Sleep Time:*/						0
END_DEBUGGING_OPTIONS
REPETITIONS
/*Reps:*/50
END_REPETITIONS
